@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light & Dark default styles */
body {
  @apply bg-white text-gray-900 transition-colors duration-500;
}

.dark body {
  @apply bg-gray-900 text-gray-100;
}
@keyframes shimmer {
  0% { background-position: -200% 0; }
  100% { background-position: 200% 0; }
}
.animate-shimmer {
  background-size: 200% auto;
  animation: shimmer 6s linear infinite;
}


@keyframes shimmer {
  0% { background-position: -200% 0; }
  100% { background-position: 200% 0; }
}
.animate-shimmer {
  background-size: 200% auto;
  animation: shimmer 6s linear infinite;
}
